<?xml version="1.0" encoding="UTF-8"?>

<plugin title="Datafor Modeler" loader="OVERRIDING" name="datafor-modeler">

   <lifecycle-listener class="com.datafor.modeler.datasource.wizard.service.impl.ModelerLifecycleListener"/>

   <static-paths>
     <static-path url="/datafor-modeler" localFolder="resources"/>
   </static-paths>


  <external-resources>
    <!--
     **  Need these css includes here. adding them to the gwt module definition makes the load order unpredictable.
     **  This unpredictability allows them to supercede the theme css files in some cases.
     -->
  </external-resources>
    <overlays>
        <overlay id="startup.modeler"  resourcebundle="api/repos/datafor-modeler/resources/messages/messages" loadatstart="true">
            <menubar id="newmenu">
                <menuitem id="new-datafor-modeler" label="${newEllipsis}" command="mantleXulHandler.openUrl('${newEllipsis}','${newEllipsis}','plugin/datafor-modeler/api/edit?isPlugin=true')" />
            </menubar>
            <menubar id="filemenu">
                <menuitem id="list-datafor-modeler" label="${listModels}"  insertafter="openMenuItem" command="mantleXulHandler.openUrl('${listModels}','${listModels}','plugin/datafor-modeler/api/index?isPlugin=true')" />
            </menubar>
            <menubar id="filemenu">
                <menuitem id="auth-datafor-modeler" label="${authModels}"  insertafter="openMenuItem" command="mantleXulHandler.openUrl('${authModels}','${authModels}','plugin/datafor-modeler/api/viewAuth?isPlugin=true')" />
            </menubar>
        </overlay>

        <overlay id="launch" resourcebundle="api/repos/datafor-modeler/resources/messages/messages" priority="10010">
            <button id="launch-datafor-modeler" label="${newEllipsis}" command="Home.openFile('${newEllipsis}','${newEllipsis}', 'plugin/datafor-modeler/api/edit?isPlugin=true')"/>
        </overlay>
    </overlays>
   <!-- this is used by the datasource service -->
   <bean id="connectionServiceImpl" class="com.datafor.modeler.datasource.wizard.service.impl.ConnectionServiceImpl"/>

   <bean id="datasourceServiceImpl" class="com.datafor.modeler.datasource.wizard.service.impl.DSWDatasourceServiceImpl"/>

   <bean id="csvDatasourceServiceImpl" class="com.datafor.modeler.datasource.wizard.service.impl.CsvDatasourceServiceImpl"/>

  <!-- ## CSRF (Cross-Site Request Forgery) protected endpoints ##
      To enable/disable this plugin's CSRF protection,
      set the `csrf-protection-enabled` setting in `settings.xml`.
      -->
  <csrf-protection>
    <!--
      POST /plugin/datafor-modeler/api/datasource/analysis/{id}/remove
    -->
   <!-- <request-matcher type="regex" pattern="^/plugin/datafor-modeler/api/datasource/analysis/[^/]*/remove\b.*" methods="POST" />-->
  </csrf-protection>
</plugin>
